html,
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body > h1 {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
}

.box-arrow {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}

.box-arrow > img {
  cursor: pointer;
  transition: 0.3s;
}

.box-arrow > img:hover {
  opacity: 0.5;
}

.arrow-left {
  transform: rotate(180deg);
  margin-right: 1em;
}

.events-container {
  display: flex;
  min-height: 500px;
}

.events-container-past {
  display: flex;
}

.notShow {
  width: 0;
}

.show {
  width: 55px;
}

.tab {
  cursor: pointer;
  transition: 1s;
}

.tab > div {
  writing-mode: tb;
  margin: 1rem auto 0 auto;
  transition: 1s;
}

.box-active {
  cursor: pointer;
  width: 58.333333333333336vw !important;
}

.box-active > div {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  writing-mode: inherit;
  transition: 1.5s;
}

.transition-active {
  -webkit-animation: active 1.5s;
  animation: active 1.5s;
}

.transition-unactive {
  -webkit-animation: unactive 1.5s;
  animation: unactive 1.5s;
}

.group-unactive {
  -webkit-animation: groupUnactive 1.5s;
  animation: groupUnactive 1.5s;
}

@keyframes active {
  0% {
    top: 0px;
    width: 55px;
  }
  100% {
    top: 0;
    width: 58.333333333333336vw;
  }
}

@keyframes unactive {
  0% {
    top: 0px;
    width: 58.333333333333336vw;
  }
  100% {
    top: 0;
    width: 55px;
  }
}

@keyframes groupActive {
  0% {
    top: 0px;
    width: 0px;
  }
  100% {
    top: 0;
    width: 55px;
  }
}
