html,
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin-left: 2.2rem;
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
}

.container-action {
  display: flex;
  justify-content: space-between;
  margin: 5em 2em 5em 2em;
}

.dropdown {
  width: 200px;
  position: relative;
}

.dropdown select {
  display: inline-block;
  width: 100%;
  min-width: 10em;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  background: none;
  line-height: 1.26em;
  font-size: 16px;
  line-height: 2.2;
  outline: 0;
  cursor: pointer;
  border-radius: 0;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  font-size: 19px;
}

.box-arrow {
  display: flex;
}

.box-arrow > img {
  cursor: pointer;
  transition: 0.3s;
}

.box-arrow > img:hover {
  opacity: 0.5;
}

.arrow-left {
  transform: rotate(180deg);
  margin-right: 1em;
}

.events-container {
  display: flex;
  min-height: 500px;
}

.events-container-past {
  display: flex;
}

.notShow {
  width: 0;
}

.show {
  width: 55px;
}

.tab {
  cursor: pointer;
  transition: 1.5s;
}

.tab > div {
  writing-mode: tb;
  margin: 1rem auto 0 auto;
  transition: 1.5s;
}

.box-active {
  cursor: pointer;
  width: 58.333333333333336vw !important;
}

.box-active > div {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  writing-mode: inherit;
  transition: 1.5s;
}

.transition-active {
  -webkit-animation: active 1.5s;
  animation: active 1.5s;
}

.transition-unactive {
  -webkit-animation: unactive 1.5s;
  animation: unactive 1.5s;
}

.group-unactive {
  -webkit-animation: groupUnactive 1.5s;
  animation: groupUnactive 1.5s;
}

@keyframes active {
  0% {
    top: 0px;
    width: 55px;
  }
  100% {
    top: 0;
    width: 58.333333333333336vw;
  }
}

@keyframes unactive {
  0% {
    top: 0px;
    width: 58.333333333333336vw;
  }
  100% {
    top: 0;
    width: 55px;
  }
}

@keyframes groupActive {
  0% {
    top: 0px;
    width: 0px;
  }
  100% {
    top: 0;
    width: 55px;
  }
}
